@import "tailwindcss";

@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/LilitaOne-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
